body {
    background-color: $bg;
    color: #f1f1f1;
    font-family: 'Rubik', sans-serif;
}

p {
    margin-bottom: 0;
}

.bg {
    background-color: $bg-1;
    border-radius: 1.5rem;
}

.container-p {
    padding: 2rem;
    @media all and (min-width: 992px) {
        padding: 4rem;
    }
}

.illustration-img {
    background-image: url("/img/landscape.png");
    border-radius: 1.5rem;
    z-index: 1;
    padding: 2.5rem;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.line-bottom {
    border-bottom: 3px solid #fff;
}

.custom-input {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 2rem;
    padding: 0;
    &:focus {
        box-shadow: unset;
        color: #fff;
        background-color: transparent;
    }
}